
:root{
    --bg: #401722;
    --second: #262223;
    --tri: #D9BD8B;
    --quad: #736B65;
    --text: #F2F2F2;
    font-family: roboto, sans-serif;
    background: var(--bg);
    color: var(--text);
}
body{
    width: 100%;
    margin-inline: auto;
}
header, footer {
    max-width: min(95%,1500px);
    margin-inline: auto;
    padding: 1rem;
}

/* Container to hold the content */
main{
    width: auto;
    max-width: min(90%,1200px);
    margin-inline: auto;
    display: grid;
    margin-block: 2rem;
    background: var(--second);
}
main > *{
    padding-block: 3rem;
    padding-inline: 1rem;
}

/*Text*/
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}
p{
    font-size: 1.2rem;
    margin-inline: 1rem;
}
main p{
    font-size: 1.5rem;
}
blockquote{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
    font-size: 1.3;
}




/*Iframe and grid*/

.videosection{
    display: grid;
}
.videosection + .videosection, .videosection + article, article + .videosection {
    border-top: 2px solid var(--tri);
}
.videosize{
    max-width: 1920px;
    flex-grow: 1;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 750px) {
    .videosection{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;
    }
    .videosection p {
        grid-area: p;
    }
    .videosection .videosize{
        grid-area: vid;
    }
    section.videosection:nth-of-type(odd){
        grid-template-areas: "vid p";
    }
    section.videosection:nth-of-type(even){
        grid-template-areas: "p vid";
    }
    #quotes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "one one" 
        "two three";
    }
    #quotes blockquote:nth-of-type(1){
        grid-area: one;
    }
    #quotes blockquote:nth-of-type(2){
        grid-area: two;
    }
    #quotes blockquote:nth-of-type(3){
        grid-area: three;
    }
}